h1 {
    color: midnightblue;
    text-align: center;
    font-size: 50pt;
    border-bottom: 2px solid darkgreen;
}

h2 {
    color: midnightblue;
}

ul li {
    font-style: italic;
}

ol li {
    color: white;
}

.my-outer-section {
    border: 1px solid black;
    display: flex;
}

.my-outer-section section {
    background: blue;
    padding: 15px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px darkgray;
    font-style: italic;
    flex: 1
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    background: white;
    padding: 5px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 5px 10px 5px darkgray;
}

nav ul li a {
    color: lime;
}

body > p:first-of-type:first-letter {
    font-size: 50px;
    font-family: serif;
    line-height: .8em;
    padding-right: 8px;
    Float: left;
}

.my-outer-section {
    padding: 20px;
    border-radius: 10px;
    color: white;
    border: 4px dashed lime;
}






