h1 {
    color: DarkGreen;
    text-align: center;
    font-size: 50pt;
    border-bottom: 10px solid MidnightBlue;
}

h2 {
    font-size: 25pt;
    color: DarkGreen;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    background: LightBlue;
    color: MidnightBlue;
    padding: 5px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 4px 6px 8px MidnightBlue;
}

nav ul li a {
    color: MidnightBlue;
    font-size: 15pt;
    text-align: center;
}

h3 {
    color: MidnightBlue;
    font-size: 20pt;
    text-align: center;
}

section {
    justify-content: center;
}