h1 {
    color: DarkGreen;
    text-align: center;
    font-size: 40pt;
    border-bottom: 2px dashed MidnightBlue;
}

h2 { 
    color: green;
}

.websites2 {
    font-style: italic;
} 

ol li {
    color: MidnightBlue;
}

.outer-section {
   border: 1px dotted blue;
   border-radius: 36px;
   display: flex;
}

.outer-section section {
    background: LightCyan;
    padding: 5px;
    margin: 15px;
}

.ideas {
    font-size: 16pt;
}

.websites {
    font-size: 14pt;
}

body { 
    background: LightCyan;
}

nav ul {
    list-style:none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    background: LightBlue ;
    padding: 5px;
    margin: 10px;
}

nav ul li a {
    color: MidnightBlue;
}

.contact-us {
    font-size: 14pt;
}

p:first-of-type:first-letter {
    font-size:85px;
    font-family: serif;
    line-height: .7em;
    padding-right: 5px;
    float:left ;
}

.earth-fuel {
    box-shadow: 4px 6px 8px RoyalBlue;
}

.kid {
    box-shadow: 4px 6px 8px RoyalBlue;
}

.stop-hunger {
    box-shadow: 4px 6px 8px RoyalBlue;
}